<moka-header class="moka-header">
  <mat-toolbar>
    <mat-toolbar-row>
      <h1 (click)="drawer.toggle()">佛光普照-南无阿弥陀佛</h1>
    </mat-toolbar-row>
  </mat-toolbar>
</moka-header>

<moka-full-screen [drawer]="drawer">
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened #drawer>
      <moka-menu-accordion>
        <moka-menu [expanded]="true" [list]="menuList" [props]="{icon:'leftIcon',route:'href', child:'children', name:'name'}"></moka-menu>
      </moka-menu-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-moka-router-tabs></app-moka-router-tabs>
      <moka-fade-in-out [outlet]="outlet" class="main">
        <router-outlet #outlet="outlet"></router-outlet>
      </moka-fade-in-out>
    </mat-sidenav-content>
  </mat-sidenav-container>
</moka-full-screen>
