<ul>
  <ng-template ngFor [ngForOf]="list" let-item let-index="index">
    <li>
      <div mat-ripple class="menu-item" [ngClass]="{'active': expanded, 'routerLinkActive': item._routerLinkActive}" (click)="menuClick($event, item)">
        <!-- routerLinkActive -->
        <mat-icon class="item-link-left" *ngIf="item[useProps.icon]" [innerHTML]="item[useProps.icon]"></mat-icon>
        <p class="item-name">{{item[useProps.name]}}</p>
        <mat-icon class="item-link-right" [ngClass]="{'active': item._childExpanded}" *ngIf="item[useProps.child]?.length">&#xe603;</mat-icon>
      </div>
      <moka-menu *ngIf="item[useProps.child]?.length" [list]="item[useProps.child]" [props]="props" [expanded]="item._childExpanded"></moka-menu>
    </li>
  </ng-template>
</ul>
