<moka-scroll>
  <moka-modal>

    <input type="color">


    <div class="box" cdkDrag></div>

    <mat-slider></mat-slider>

    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div>
    </cdk-virtual-scroll-viewport>

    <div style="margin: 50px;">
      <button colorPicker [(ngModel)]="value" (change)="$event">color</button>
      <p [ngStyle]="{'background': value}">{{value}}</p>
    </div>

    <div style="margin: 50px;">
      <div>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="startView">
          <mat-radio-button value="month">month</mat-radio-button>
          <mat-radio-button value="year">year</mat-radio-button>
          <mat-radio-button value="multi-year">multi-year</mat-radio-button>
        </mat-radio-group>
      </div>

      <div>
        <mat-form-field>
          <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [(ngModel)]="date1"
            placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [startView]="startView"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

  </moka-modal>
</moka-scroll>
