<moka-modal>
    <pre>
        莫生气歌 (一)

        人生就象一场戏,因为有缘才相聚
        相扶到老不容易,是否更该去珍惜
        为了小事发脾气,回头想来又何必
        别人生气我不气,气出病来无人替
        我若气坏谁如意,而且伤神又费力
        出门在外少管事,早去早归少惦记
        邻居亲朋不要比,儿孙琐事随他去
        娃娃降生皆欢喜,人到终年任他去
        吃苦享乐在一起,神仙羡慕好伴侣
        男女老少多注意,莫生气啊莫生气

        不气歌（二）

        人生就象一场戏，今世有缘才想聚。
        相处一处不容易，人人应该去珍惜。
        世上万物般般有，哪能件件如我意。
        为了小事发脾气，回想起来又何必。
        他人气我我不气，气出病来无人替。
        生气分泌有害物，促人衰老又生疾。
        看病花钱又受罪，还说气病治非易。
        小人量小不让人，常常气人气自己。
        君子量大同天地，好事坏事包在里。
        他人骂我我装聋，高声上天低入地。
        我若错了真该骂，诚心改正受教育。
        要是根本没那事，全当他是骂自己。
        左亲右邻团结好，家庭和睦乐无比。
        夫妻互助又亲爱，朝夕相伴笑嘻嘻。
        政通人和想天伦，晚年幸福甜如蜜。
        邻里亲友不要比，儿孙锁事随他去。
        淡泊名利促健康，文明礼貌争第一。
        三国有个周公瑾，因气丧命中人计。
        清朝有个闫敬铭，领悟危害不生气。
        弥勒就是布袋僧，袒胸大肚能忍气。
        笑口常开无忧虑，一切疾病皆消去。
        不气不气真不气，不气歌儿记心里。
        只要你能做得到，活到百岁不足奇。

        不气歌（三）

        世上到处都是气，无气万物无生机。
        人活凭的就是气，无气活着啥意义。
        浑身正气身体壮，邪气缠身伤身体。
        你不生气气找你，气是自己争来的。
        人生一生都是气，若是气人己先气。
        惹人生气为不义，人要生气为中计。
        生气百害无一利，气坏别人伤自己。
        气出病来自己医，花钱受罪人讽讥。
        气量狭小没出息，只让别人窃窃喜。
        生气常常伤理智，办坏事情悔莫及。
        争气损尽己力气，看你争气不争气。
        世人都应晓利弊，欢欢喜喜消消气。
        大度能忍天下气，不气别人不生气。
        你尊我敬多谦虚，但愿大家都和气。

        </pre>
</moka-modal>
